body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.page-footer {
    height: 60px;
}

.product {
    font-weight: bold;
}

.name {
    text-align: center;
    font-size: 45px;
    margin: 15px;
    margin-top: 0px;
}
.desc {
    font-weight: normal;
}
.category {
    font-weight: normal;
}
.price {
    font-weight: bold;
    font-size: 50px;
}
.mrg {
    margin: 15px;
}