body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.page-footer {
    height: 60px;
}

.product {
    font-weight: bold;
}

.name {
    text-align: center;
    font-size: 40px;
    margin: 15px;
    margin-top: 0px;
}
.desc {
    font-weight: normal;
}
.price {
    font-weight: bold;
    font-size: 30px;
}
.category {
        font-weight: bold;
        font-size: 15px;
}
.mrg {
    margin: 15px;
}
.product {
    margin-top: 50px;
    margin-bottom: 50px;
}
.thumbnail {
    margin-left: 50px !important;
}
.division {
    width: 87%;
    height: 10px;
    margin: auto;
    background-color: black;
}
.txtMrg {
    margin-bottom: 50px;
}