<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Checkout</title>
  <link rel="icon" th:href="@{~/img/icon.png}"/>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" th:href="@{~/css/checkout.css}">
  <nav>
    <div class="nav-wrapper black">
      <a href="/">
        <img th:src="@{~/img/logo.png}" height=64px width=135px class="brand-logo hide-on-med-and-down" alt="Cygnus Market">
        <img th:src="@{~/img/logo.png}" height=64px width=135px class="left brand-logo hide-on-large-only" alt="Cygnus Market">
      </a>
      <ul id="nav-mobile" class="right">
        <li th:each="category : ${categories}"><a th:href="${'/search/?keyword=' + category}" th:text="${category + 's'}">Flights</a></li>
        <li>
          <div class="row">
            <form th:action="@{'/search/'}" method="get" id="search">
              <div class="col s8">
                <div class="row" id="topbarsearch">
                  <div class="input-field col s6 s12 red-text">
                    <input th:value="${keyword}" type="text" placeholder="Search" id="txtSearch" name="keyword" class="center black-text white">
                  </div>
                </div>
              </div>
              <div class="col s2">
                <a href="javascript:{}" onclick="document.getElementById('search').submit();">
                  <i class="white-text material-icons prefix right">search</i></a>
              </div>
            </form>
            <div class="col s2">
              <a th:href="${'/checkout/'}"><i class="white-text material-icons prefix right">shopping_cart</i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <main>
    <div class="container">
        <div class="center">
            <h3 th:text="${message}">
                Your Basket
            </h3>
        </div>
      <div class="division"></div>
      <div th:each="basketItem : ${basket}"{class="product" style="margin-top: 50px;">
        <div class="row valign-wrapper">
          <div class="col s6 valign-wrapper thumbnail">
            <img th:src="@{${'~/img/product/' + basketItem.getProduct().getCategory() + '/' + basketItem.getProduct().getName() + '.PNG'}}" height="250px" width="320px" alt="">
          </div>
          <div class="col s6">
            <div th:text="${basketItem.getProduct().getName() + ' ' + basketItem.getProduct().getCategory()}" class="name">
              Saturn
            </div>
            <div class="price center">
              <span th:text="${#numbers.formatDecimal(basketItem.getProduct().getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
              <span>€</span>
            </div>
            <div class="quantity center mrg">
              <span style="font-weight: normal;">x</span>
              <span th:text="${basketItem.getQuantity()}"></span>
            </div>
          </div>
        </div>
        <div class="division"></div>
      </div>
      <div class="checkout">
          <div class="center">
              <h2>
                  Total:
                  <span th:text="${#numbers.formatDecimal(globalBasket.getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}" class="checkout">0</span>
                  <span>€</span>
              </h2>
          </div>
      </div>
    </div>
  </main>
  <footer class="page-footer black text-center">
  </footer>
</body>

</html>