<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title th:text="${'Results for ' + keyword}">Search</title>
  <link rel="icon" th:href="@{~/img/icon.png}"/>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" th:href="@{~/css/search.css}">
  <nav>
    <div class="nav-wrapper black">
      <a href="/">
      <img th:src="@{~/img/logo.png}" height=64px width=135px class="brand-logo hide-on-med-and-down" alt="Cygnus Market">
      <img th:src="@{~/img/logo.png}" height=64px width=135px class="left brand-logo hide-on-large-only" alt="Cygnus Market">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li th:each="category : ${categories}"><a th:href="${'/search/?keyword=' + category}" th:text="${category + 's'}">Flights</a></li>
        <li>
          <div class="row">
            <form th:action="@{'/search/'}" method="get" id="search">
              <div class="col s8">
                <div class="row" id="topbarsearch">
                  <div class="input-field col s6 s12 red-text">
                    <input th:value="${keyword}" type="text" placeholder="Search" id="txtSearch" name="keyword" class="center black-text white">
                  </div>
                </div>
              </div>
              <div class="col s2">
                <a href="javascript:{}" onclick="document.getElementById('search').submit();">
                  <i class="white-text material-icons prefix right">search</i></a>
              </div>
            </form>
            <div class="col s2">
              <a th:href="${'/checkout/'}"><i class="white-text material-icons prefix right">shopping_cart</i></a>
            </div>
          </div>
        </li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-large-only">
        <li>
          <div class="row">
            <form id="search">
              <div class="col s8">
                <div class="row" id="topbarsearch">
                  <div class="input-field col s6 s12 red-text">
                    <input type="text" placeholder="Search" id="autocomplete-input" class="center black-text white">
                  </div>
                </div>
              </div>
              <div class="col s2">
                <a href="javascript:{}" onclick="document.getElementById('search').submit();">
                  <i class="white-text material-icons prefix right">search</i></a>
              </div>
            </form>
        </li>
        <li>
          <div class="col s2">
            <a th:href="${'/checkout/'}"><i class="white-text material-icons prefix center">shopping_cart</i></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <main>
    <div class="container">
      <div class="center txtMrg">
        <h3>
          Your search for "<span th:text="${keyword}">search</span>" returns <span th:text="${number}">10</span><span th:text="${' ' + msg}"></span>
        </h3>
      </div>
      <div class="division center"></div>
      <div th:each="product : ${products}" class="product" style="margin-top: 50px;">
        <div class="row valign-wrapper">
          <div class="col s6 center valign-wrapper thumbnail">
            <a th:href="${'/product/' + product.category + '/' + product.name}" style="color: black;">
            <img th:src="@{${'~/img/product/' + product.category + '/' + product.name + '.PNG'}}" height="250px" width="290px" alt="">
            </a>
          </div>
          <div class="col s6">
            <a th:href="${'/product/' + product.category + '/' + product.name}" style="color: black;">
            <div th:text="${product.name + ' ' + product.category}" class="name">
              Saturn
            </div>
            </a>
            <div class="price center">
              <span th:text="${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
              <span>€</span>
            </div>
            <div class="category center">
              <span style="font-weight: normal;">Category:</span>
              <a th:href="${'/search/?keyword=' + product.category}" style="color: black;">
              <span th:text="${product.category}"></span>
              </a>
            </div>
            <div class="center mrg">
              <a th:href="${'/product/' + product.category + '/' + product.name}">
                <button class="btn waves-effect waves-light medium black">
                  More Info
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="division center"></div>
      </div>
    </div>
  </main>
  <footer class="page-footer black text-center">
  </footer>
</body>

</html>